<!DOCTYPE html>

<html>

<head>
  <link rel = "stylesheet" href="/css/style.css">
</head>

<body>

  <div class="main-content">

    {{>header}}

    <form>
     <input placeholder="Full Name" id="userName">
      <p>
        <input placeholder="Seat Location" id="location">
      <p>
        <input type="datetime-local" placeholder="Reservation Start Date" id="reservationStartDate">
      <p>
        <input type="datetime-local" placeholder="Reservation End Date" id="reservationEndDate">
      <p>
        <button>
          Submit Reservation
        </button>
    </form>

  </div>

    <script src ="/js/app.js"></script>
</body>

</html>
